<style>
  body {
    font-family: system-ui;
    line-height: 1.5em;
    max-width: 800px;
    margin: 50px auto;
  }
  img {
    max-width: 800px;
  }
</style>
<body>
  <h1 id="generic-message-component-challenge">Generic Message Component Challenge</h1>
  <h2 id="estimated-duration-1-hour">Estimated Duration: 1 Hour</h2>
  <p>
    We personally don't recommend going on beyond this 1 hour as we wouldn't want you to
    feel overwhelmed with the interview process.
  </p>
  <h1 id="context">Context</h1>
  <p>
    We are developing a simple messaging application similar to whatsapp that allows users
    to talk to other users with text. However we start to notice users asking to send in
    other mediums such as images, files, videos, etc.
    <strong
      >But given our current implementation of if/else statements this is not a scalable
      approach and definitely isn't maintainable by other developers!</strong
    >
  </p>
  <p>For example our component currently looks like this:</p>
  <div class="sourceCode" id="cb1">
    <pre
      class="sourceCode typescript"
    ><code class="sourceCode typescript"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="co">// This is a contrived example</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a><span class="co">// ! We don&#39;t want this!</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a><span class="kw">function</span> Message<span class="op">:</span> React<span class="op">.</span><span class="fu">FC</span> ({<span class="kw">type</span><span class="op">,</span> content}) {</span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a>    <span class="fu">if</span>(<span class="kw">type</span> <span class="op">===</span> <span class="st">&#39;text&#39;</span>) <span class="fu">return</span> (<span class="op">&lt;</span>span<span class="op">&gt;</span>{content}<span class="op">&lt;/</span>span<span class="op">&gt;</span>)</span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true" tabindex="-1"></a>    else <span class="fu">if</span>(<span class="kw">type</span> <span class="op">===</span> <span class="st">&#39;file&#39;</span>) <span class="fu">return</span> (<span class="op">&lt;</span>a download href<span class="op">=</span><span class="st">&quot;...&quot;</span><span class="op">&gt;...&lt;/</span>a<span class="op">&gt;</span>)</span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true" tabindex="-1"></a>}</span></code></pre>
  </div>
  <h1 id="goal">Goal</h1>
  <p>
    <strong
      >You should develop a generic message component that takes in a message and render
      the correct UI.</strong
    >
    You will be given a set of conversation data which you can find in
    <code>src/fixtures/conversation</code> and the corresponding types in
    <code>src/types/messages</code> (we assume that you already know how to fetch data
    from an api so we've abstracted that out)
  </p>
  <p>
    <strong
      >Please take inspiration on how compound components work:
      <a href="https://components.looker.com/getting-started/extending/"
        >https://components.looker.com/getting-started/extending/</a
      ></strong
    >
  </p>
  <p>There are 3 message types that we want to support, these include:</p>
  <ol type="1">
    <li><strong>Text</strong> (both as a sender and receiver)</li>
    <li><strong>Image</strong> (Should show a preview)</li>
    <li><strong>Attachment</strong> (these are just PDF attachments)</li>
  </ol>
  <p>If you need some references of what they might look like you can find them below.</p>
  <h2 id="image-message">Image Message</h2>
  <p><img src="readme-images/image.png" /></p>
  <h2 id="text-message">Text Message</h2>
  <p><img src="readme-images/text.png" /></p>
  <h2 id="attachment">Attachment</h2>
  <p>We'll leave this to your imagination!</p>
  <h1 id="test-cases">Test Cases</h1>
  <h3 id="all-messages">All Messages</h3>
  <ul>
    <li>Should display on the left if not from an <code>agent</code></li>
    <li>Should display on the right if from an <code>agent</code></li>
    <li>Should include a readable timestamp</li>
  </ul>
  <h3 id="text">Text</h3>
  <ul>
    <li>Should show the text content</li>
  </ul>
  <h3 id="image">Image</h3>
  <ul>
    <li>Should show the image as a preview</li>
  </ul>
  <h3 id="attachment-1">Attachment</h3>
  <ul>
    <li>Should show a download button to download the attachment.</li>
  </ul>
  <h1 id="before-you-get-started">Before you get started!</h1>
  <p>
    There is some predefined data inside the <code>src/fixtures</code> folder which you
    will need to use so you don't need to define the data structures yourself.
  </p>
  <p>
    <strong>Also</strong> If you're not familiar with typescript that's ok, give it your
    best shot!
  </p>
  <h1 id="extra-credit">Extra Credit</h1>
  <ul>
    <li>Write the interfaces for the data</li>
    <li>How would you implement test cases for your components?</li>
  </ul>
  <h1 id="running-your-app">Running your App</h1>
  <p>
    This project was bootstrapped with
    <a href="https://github.com/facebook/create-react-app">Create React App</a>.
  </p>
  <h2 id="available-scripts">Available Scripts</h2>
  <p>In the project directory, you can run:</p>
  <h3 id="yarn-start"><code>yarn start</code></h3>
  <p>
    Runs the app in the development mode.<br />
    Open <a href="http://localhost:3000">http://localhost:3000</a> to view it in the
    browser.
  </p>
  <p>
    The page will reload if you make edits.<br />
    You will also see any lint errors in the console.
  </p>
  <h3 id="yarn-test"><code>yarn test</code></h3>
  <p>
    Launches the test runner in the interactive watch mode.<br />
    See the section about
    <a href="https://facebook.github.io/create-react-app/docs/running-tests"
      >running tests</a
    >
    for more information.
  </p>
</body>
