.App {
  align-items: center;
  background-color: #edf2f6;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 0;
}
